.site-header:not(.sticky-top) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}
.nav-item{
    margin: 0px 25px;
}
.navbar.navbar-light .navbar-nav .nav-link, .hero-title, .navbar.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}