// Here you can add other styles

body{
    background-color: #fff;
}
p{font-size: 18px; color: #000;}
h1,h2,h3,h4,h5{
    color: #11204d;
}
.footer{
    background-color: #11204d;
    color: #fff;
}
