.single-product{
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px;
}
.single-product .img-wrapper{
    padding: 20px;
    background: #f1f1f1;
    border-radius: 10px;
}
.single-product .card-body{
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.custom-product a{
    text-decoration: none;
}
.single-product h3{
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}
.card.single-product:hover img{
    transition: 0.5s;
    transform: scale(1.16, 1.23);
    border-radius: 10px;
}
.card.single-product img{
    border-radius: 10px;
    transition: 0.7s;
}